.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
*.iml
*.lock
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
ios/Flutter/.last_build_id
.DS_Store
